<div class="card mb-3">
  <h2 class="card-header h4">
    Renter #<%= renter.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Email</dt>
      <!-- Display email start -->
      <dd><%= renter.email %></dd>
      <!-- Display email end -->

      <dt>Password</dt>
      <!-- Display password start -->
      <dd><%= renter.password %></dd>
      <!-- Display password end -->

      <dt>Username</dt>
      <!-- Display username start -->
      <dd><%= renter.username %></dd>
      <!-- Display username end -->

      <dt>First name</dt>
      <!-- Display first_name start -->
      <dd><%= renter.first_name %></dd>
      <!-- Display first_name end -->

      <dt>Last name</dt>
      <!-- Display last_name start -->
      <dd><%= renter.last_name %></dd>
      <!-- Display last_name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back renter, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link renter start -->
      <div class="col">
        <%= link_to edit_renter_url(renter), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link renter end -->

      <!-- Delete link renter start -->
      <div class="col">
        <%= link_to renter, method: :delete, data: { confirm: "Do you really want to delete this renter?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link renter end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(renter.updated_at) %> ago
  </div>
</div>
