<%= form_with(model: @court, local: true) do |f| %>

  <%= f.hidden_field :renter_id, value: @renter.id %>

  <div class="form-group">
    <%= f.label :court_type %>

    <%= f.select :court_type, options_for_select(Court.court_types.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :directions %>
    <%= f.text_area :directions, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :court_rules %>
    <%= f.text_area :court_rules, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :max_guests %>

    <%= f.text_field :max_guests, class: "form-control" %>
  </div>

  <%= f.submit "Create court", class: "btn btn-block btn-outline-secondary" %>
<% end %>
