<%= form_with(model: @reservation, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, class: "form-control" %>
  </div>

  <%= f.hidden_field :court_id, value: @court.id %>

  <div class="form-group">
    <%= f.label :vistor_id %>

    <%= f.collection_select :vistor_id, Visitor.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create reservation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
